$offset: 187;
$duration: 1.4s;
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.spinnerCircle {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

.check {
  transform-origin: 50% 50%;
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: stroke 0.3s $curve 0.2s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
