$rem-size: 16px;
$font-size: 1rem;
$font-family: "Open Sans", sans-serif;
$font-weight: 400;
$font-weight-bold: 600;
$text-color: #333;
$primary-color: #900028;
$transition-timing: 0.2s ease-out;
$container-size: 90rem;
$container-inner-size: ($container-size - 10);
$container-bumper-horizontal: 1rem;
$container-bumper-vertical: 1.5rem;
