.button {
  background: #e5e5e0;
  border-radius: 0.2rem;
  display: flex;
  line-height: 1;
  align-items: center;
  margin: 0.2rem 0.5rem;
}

.button:last-of-type {
  margin-right: 0;
}

.text {
  font-size: 0.8em;
  padding: 0.2rem 0 0.2rem 0.5rem;
}

.close {
  border: 0;
  background: transparent;
  font-size: 1.3em;
  display: inline-block;
  vertical-align: sub;
  padding: 0.2rem 0.5rem;
}
